<div class="container text-center">
  <h1 class="text-center">Logest Word Game</h1>
  <h2><%= session[:score] %> Points</h2>
  <h2><%= session[:count] %> Round</h2>
  <div class="row text-center">
     <% params[:letters].split(" ").each do |letter| %>
        <div class="col-sm-1 btn btn-primary m-2">
          <h1><%=letter %></h1>
        </div>
      <% end %>
      <div class="card col-sm-12">
        <div class="card-body">
          <h3 class="card-title">
            <% session[:score] += @result[:score] %>
            <%= session[:score] %> Points
          </h3>
          <h6 class="card-subtitle">
            <%= params[:word] %>
          </h6>
          <p class="card-text">
            <%= @result[:message] %>
          </p>
            <%= link_to "Play Again", 'new' %>
        </div>
      </div>
  </div>
</div>
